body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

nav {
  background-color: #4b0082;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: #4b0082;
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid #4b0082;
  padding: 5px;
  box-shadow: 3px 3px 5px #888;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
  line-height: 1.6;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}